* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
a {
  text-decoration: none;
}
.tabSelector {
}
$navBarHeight: 100px;
$homeDesktopBg: url("/src/assets/home/background-home-desktop.jpg");
$destinationDesktopBg: url("/src/assets/destination/background-destination-desktop.jpg");
$crewDesktopBg: url("/src/assets/crew/background-crew-desktop.jpg");
$technologyDesktopBg: url("/src/assets/technology/background-technology-desktop.jpg");
.navBar {
  position: fixed;
  display: flex;
  top: 50px;
  right: 0;
  justify-content: space-between;
  z-index: 2;
  .navLogo {
    width: 40vw;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    .divider {
      height: 1px;
      background: rgb(170, 170, 170);
      width: 40vw;
      margin-left: 20px;
      transform: translateX(50px);
      z-index: 1;
      filter: blur(0.75px);
    }
  }
  .links {
    padding-right: 2vw;
    width: 60vw;
    height: $navBarHeight;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 40px;
    background: rgba(95, 115, 229, 0.044);
    backdrop-filter: blur(24px);
    a {
      color: white;
      text-decoration: none;
      height: calc($navBarHeight / 2);
    }
    span {
      font-weight: 700;
    }
    .active {
      border-bottom: 4px solid white;
    }
    a:hover {
      border-bottom: 4px solid rgba(255, 255, 255, 0.568);
    }
    .active:hover {
      border-bottom: 4px solid white;
    }
  }
}
.home {
  background-image: $homeDesktopBg;
  .main {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    margin-top: 200px;
    .main-l {
      width: 400px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;
      h2 {
        font-size: 32px;
      }
      h1 {
        font-size: 120px;
        padding: 20px;
      }
      p {
        font-size: 20px;
      }
    }
    .main-r {
      display: flex;
      align-items: end;
      .circle {
        width: 220px;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: white;
        font-size: 32px;
        font-weight: 700;
        h3 {
          color: black;
        }
      }
    }
  }
}
.destination {
  background-image: $destinationDesktopBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main {
    overflow: hidden;
    .destinationContent {
      .destinationFlex {
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
        width: 100vw;
        height: 100vh;
        .destinationText {
          z-index: 1;
          width: 500px;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: start;
          font-size: 24px;
          .destinationTabs{
            display:flex;
            gap: 30px;
            height: 70px;
            margin-bottom: 20px;
            .destinationTab{
              height:100%;
            }
            .destinationTab:hover{
              cursor:pointer;
            }
            .active{
              border-bottom: 4px solid white;
            }
          }
          h1 {
            font-size: 80px;
            padding-left: 10px;
          }
          p {
            margin: 30px 0 30px 0;
          }
          .divider {
            width: 100%;
            height: 1px;
            background: rgb(170, 170, 170);
            margin: 30px 0 30px 0;
          }
          .bottom {
            display: flex;
            gap: 30px;
            .distance {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 10px;
            }
            .time {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 10px;
            }
            .distance h3,
            .time h3 {
              font-size: 20px;
            }
            .distance h2,
            .time h2 {
              font-size: 40px;
            }
          }
        }
        .destinationImg {
          z-index: 0;
          justify-self: center;
        }
      }
    }
    .inactive {
      display: none;
    }
  }
}

.crew {
  background-image: $crewDesktopBg;
}

.technology {
  background-image: $technologyDesktopBg;
}

section {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slideIn {
  animation: slideIn 2s;
}
.slideOut {
  animation: slideOut 2s;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80vw) scale(0.5) translateY(300px);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(80vw) scale(0.5) translateY(-300px) rotate(-90deg);
  }
  100% {
    transform: translateX(0) scale(1) translateY(0) rotate(0deg);
  }
}
